.container{
    background: #FFF4A3;
    /* transform: skew(-45deg); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    width: 100%;
}
.leftSide{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headings h1{
    font-size: 80px;
    font-weight: 700;
}
.headings p{
    font-size: 20px;
    font-weight: 550;
}
.buttons{
    width: 200px;
    height: 2.3rem;
    margin-top: 20px;
    display: flex;
    border-radius: 50px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 2.6px;
    padding: 5px;
    background: #598bc9;
}
.buttons:hover{
    opacity: 0.8;
    cursor: pointer;
}
.rightSide{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #0d0d0dc8; */
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10vh 0;
    box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 2.6px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.box h3{
    font-size: 22px;
}
.texteditor{
    /* background: #0d0d0de6; */
    height: 85%;
    width: 93%;
    border-left: 3px solid #046ec4;
    /* border-radius: 10px; */
    padding: 15px;
    line-height: 28px;
    font-size: 20px;
}
input{
    width: 100%;
    height: 100%;
    text-overflow: clip;

}


@media(max-width:400px), (max-width:768px){
    .container{
        flex-wrap: wrap;
    }
    .leftSide{
        width: 90%;
        margin: 3vh 0;

    }
    .headings h1{
        font-size: 60px;
    }
    .headings p{
        font-size: 18px;
    }

    .rightSide{
        display: none;
        /* width: 90%;
        height: 50%;
        margin: 3vh 0; */
    }
}