.wrap{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    z-index: 99;
    /* margin-top: 10vh; */
}
h1{
    font-size: 65px;
    margin: 0;
}
h4{
    font-size: 30px;
    color: #d7dada;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input{
    width: 27vw;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 50px 0 0 50px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;

}
.herobutton{
    width: 7vw;
    padding: 10px;
    background-color: #046ec4;
    height: 3.1rem;
    color: #fff;
    border-radius: 0 50px 50px 0;
    border: none;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}
.herobutton:hover{
    opacity: 0.8;
}
.heroancher{
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    margin-top: 3vh;
}
/* .learnera{
    font-size: 190px;
    opacity: 0.1;
    z-index: 9;
    font-weight: 900;
    margin: 0;
} */

@media(max-width:320px), (max-width:768px){
    .wrap{
        height: 60vh;
    }
    .input{
        width: 68vw;
    }
    button{
        width: 18vw;
        height: 3.2rem;
    }
    h1{
        font-size: 50px;
    }
    h4{
        font-size: 24px;
    }
    .content{
        text-align: center;
        padding: 10px;
    }
    .heroancher{
        font-size: 20px;
    }
}