.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    font-family: sans-serif;
    height: 10vh;
    width: 100vw;
    position: fixed;
    /* top: 0; */
    z-index: 999;
}
.logo{
    /* font-size: 26px; */
    height: 10rem;
    margin: 0 auto 0 15px;
}
.links{
    margin: 0 auto 0 10px;
    /* margin-right: auto; */
}
.links .nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8px;
    font-size: 18px;
    height: 100%;
}
.nav_links li {
    cursor: pointer;
    display: flex;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 0 10px 0 10px;
    position: relative;
}
.nav_links li a{
    color: #598bc9;
    text-decoration: none;
}
.nav_links li:hover a{
    color: white;
}
.dropdown{
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 20px;
    /* background-col; */
    color: white;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    top: 10vh;
    left: 0;
    display: none;
}
/* .dropdown a{
    color: #598bc9;
} */
.droptop{
    height: 10%;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.drophead{
    font-size: 40px;
}
.dropclose{
    background: transparent;
    font-size: 34px;
    width: 9vh;
    height: 98%;
    border: none;
    margin-right: 30px;
    border-radius: 0;
    color: inherit;
}
.dropclose:hover{
    background-color: #598bc9ac;
    /* color: black; */
}
.dropcont{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    /* padding: 10px; */
    align-items: flex-start;
}
.dropcol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 5px;
    gap: 10px;
}

.nav_links li:hover{
    background: #598bc9;
}

.others{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.others .pro{
    background-color: rgb(236, 236, 90);
    color: #000;
    width: 60px;
    height: 2.6rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    /* border: 3px solid #fff; */

    font-weight: 600;
}
.pro:hover{
    background-color: rgb(242, 242, 49);
    cursor: pointer;
}
.others .certify{
    background-color: pink;
    /* color: inherit; */
    color: #000;
    width: 150px;
    height: 2.6rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    /* border: 3px solid #fff; */

}
.certify:hover{
    cursor: pointer;
    background-color: rgb(254, 157, 173);
}
.others .useful{
    font-size: 26px;
    /* background-color: #598bc9; */
    height: 2.6rem;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 5px; 
    color: #fff;
    font-weight: 600;
}

.useful .icons{
    /* background-color: rgb(171, 171, 171); */
    padding: 6px;
    /* color: #000; */
    border-radius: 50%;
    cursor: pointer;
    background-color: #598bc9;
    /* border: 3px solid #fff; */

}
.icons:hover{
    background-color: #046ec4;
}

.user{
    font-size: 25px;
    margin:  0 10px 0 10px;
    width: 40px;
    height: 2.6rem;
    background-color: #598bc9;
    border: 3px solid #046ec4;
    /* padding: 4px; */
    border-radius: 50%;
    display: flex;
    color: #fff;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
.user:hover{
    background-color: #046ec4;
}
.hamburger{
    display: none;
}
.dropMobCont{
    display: none;
}
.dropcol a{
    text-decoration: none !important;
    color: inherit;
    font-weight: 500;
    height: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
@media (max-width:320px){
    .wrapper{
        justify-content: space-between;
    }
    .user{
        width: 90px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .usericon{
        font-size: 40px;
        margin-right: 10px;
        display: none;
    }

    .dropcol{
        width: 100%;
    }
    
    .dropcont{
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
    }
    .hamburger{
        display: initial;
        font-size: 40px;
        color: #598bc9;
    }
    .hamburger:hover{
        color: #fff;

    }
    .links{
        display: none;
    }

    .useful{
        display: flex;
    }
    .dropMobCont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: fixed;
        top: 10vh;
        left: 0;
        /* backgroun; */
    }
    .droplist{
        width: 100%;
        height: auto;
    }
    .droplist ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        text-align: left;
        /* gap: 10px; */
        font-size: 28px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .droplist ul li{
        height: 8vh;
        width: 100%;
        padding: 0 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .droplist ul li:hover{
        background-color: #598bc9;
        color: white;
    }
    .droplist ul li .sublinks{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        /* background:i; */
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 8vh;
        left: 0;
        z-index: 99;
        display: none;
        margin: 0;
        padding: 0;
    }
    .sublinks li{
        height: 8vh;
        width: 100%;
        padding: 0 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .sublinks li a{
        color: inherit;
        text-decoration: none;
    }
    .dropdown{
        display: none;
    }
    
    .dropMobCont{
        display: none;
    }
  

}
@media(max-width:1024px){
    .wrapper{
        justify-content: space-between;
    }
    .user{
        width: 90px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .user:hover{
        background-color: transparent;
    }
    .usericon{
        font-size: 40px;
        margin-right: 10px;
        display: none;
    }
    .dropdown{
        display: none;
    }
    .dropcol{
        width: 100%;
    }
    .dropcont{
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
    }
    .hamburger{
        display: flex;
        font-size: 40px;
        color: #598bc9;
    }
    .hamburger:hover{
        color: #fff;

    }
    .links{
        display: none;
    }

    .useful{
        display: flex;
    }
    .dropMobCont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: fixed;
        top: 10vh;
        left: 0;
        /* backgroun; */
    }
    .droplist{
        width: 100%;
        height: auto;
    }
    .droplist ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        text-align: left;
        /* gap: 10px; */
        font-size: 28px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .droplist ul li{
        height: 8vh;
        width: 100%;
        padding: 0 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .droplist ul li:hover{
        background-color: #598bc9;
        color: white;
    }
    .droplist ul li .sublinks{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        /* background:i; */
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 8vh;
        left: 0;
        z-index: 99;
        display: none;
        margin: 0;
        padding: 0;
    }
    .sublinks li{
        height: 8vh;
        width: 100%;
        padding: 0 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .sublinks li a{
        color: inherit;
        text-decoration: none;
    }
    .dropMobCont{
        display: none;
    }
  

    .pro{
        display: none !important;
    }
    .certify{
        display: none !important;
    }
}