.langs{
    width: 100vw;
    height: auto;
    background-color: #282a35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.langs a{
    text-decoration: none;
    margin: 0vh 0 3vh 0;
    
    
}
.langcont{
    width: 18vw;
    height: 8rem;
    margin: 30px 15px 30px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.langcont:hover{
    opacity: 0.8;
}
.langname{
    font-size: 30px;
    line-height: 67.5px;
    text-align: center;
    color: #000;
    letter-spacing: normal;
    font-weight: 500;
}

@media (max-width:768px){
    .langcont{
        width: 42vw;
        margin: 10px 0;
    }
    .langs a{
        margin: 0;
    }
}
@media(max-width:399px){
    .langname{
        line-height: normal;
    }
    .langcont{
        width: 95vw;
        margin: 10px 0;
        /* margin-bottom: 10px; */
    }
    .langs a{
        margin: 0;
    }
}

