.cls1 {
    fill: #046ec4;
}

.cls2 {
    font-size: 23px;
}

.cls2,
.cls3,
.cls4 {
    fill: #fff;
}

.cls4 {
    margin: 0;
}

.cls2,
.cls3 {
    font-family: RobotoMono-Medium, Roboto Mono;
    font-weight: 500;
}

.cls3 {
    font-size: 20.08px;
}

#w3certarrow {
    width: 50rem;
    height: auto;
}


.kick {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    /* margin-bottom: 30vh; */
    position: relative;
}

.kickcont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 7vw;
    width: 50vw;
    text-align: left;
}

.kickname {
    font-size: 60px;
    font-weight: 550;
    line-height: 97.5px;
}

.kickdes {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.kickbutton {
    width: 15rem;
    height: 3.5rem;
    background-color: #046ec4;
    border-radius: 50px;
    margin-top: 3vh;
}

.none1 {
    width: 220px;
    height: 280px;
    position: absolute;
    bottom: 8vh;
    right: 320px;
    z-index: 99;
}
.none2{
    width: 300px; height: 300px; display: flex; align-items: center; justify-content: center; position: absolute; bottom: 0vh; right: 20px;
}


@media (max-width:399px),
(max-width:768px) {

    /* svg{
        display: none;
    } */
    /* path{
        display: none;
    }
    text{
        display: none;
    } */
    .none1 {
        display: none;
    }
    .none2{
        display: none;
    }

    .kickcont {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}