/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}




.template{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10vh 1vw;
  width: 100%;
}
.template a{
  text-decoration: none;
}
.tempcarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  height: 400px;
  border-radius: 24px;
  border-collapse: collapse;
  margin: 5vh 0;
  border: 3px solid #046ec4;
  background-color: #323131;
}
.tempnext{
  width: 50px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: #046ec4;
  color: white;
  transition: 1s;
}
.tempnext:hover{
  opacity: 0.8;
  cursor: pointer;
}
.tempprev{
  width: 50px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #046ec4;
  transition: 1s;
  color: white;
}
.tempprev:hover{
  opacity: 0.8;
  cursor: pointer;
}
.tempdes{
  font-size: 20px;
  font-weight: 550;
}
.tempimage{
  display: flex;
  width: 900px;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0 20px;
  /* border: 2px solid red; */
  overflow-x: auto;
  gap: 30px;

}
.tempimage img{
  width: 500px;
  height: 100%;
  transition: 1s linear;
  border-radius: 10px;
}


.tempbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 3.5rem;
  border-radius: 50px;
  margin-top: 3vh;

}
.tempbtn:hover{
  opacity: 0.8;
  cursor: pointer;
}